<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3k.dfi.fund - Kok Kok Kok</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      h1 {
        @apply text-[33px] font-bold
      }
    </style>
</head>
<body>
    <header>
        <div>
            <a href="">
                <img src="../static/images/tiktok.png" alt="">
            </a>
        </div>
    </header>
    <main>
        <h1>Hello world!</h1>
    </main>
    <footer></footer>
</body>
</html>